/*******************************************************************
***  File Name		: ScoreDisp.css
***  Version		: V1.0
***  Designer		: 小林 丈瑠
***  Date			: 2023.06.20
***  Purpose       	: 点数表示画面の装飾行う．
***
*******************************************************************/
/*
*** Revision :
*** V1.0 : 小林 丈瑠, 2023.06.20
*/


body {
  background: linear-gradient(to bottom right, #20232a, #414a59);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #000;
}

.button-container {
  margin-top: 20px;
}

.button {
  background-color: #4CAF50;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 100%;
  }
}

body:before {
  animation: moveBackground 20s linear infinite;
  background-image: url("sit2.jpg");
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
