/*******************************************************************
***  File Name : style.css
***  Version : V1.0
***  Designer : 幸前　譲
***  Date : 2023.07.18
***  Purpose        : ゲーム選択画面のスタイルシート
***　Module    : 1 ゲーム選択UI処理
*******************************************************************/

html {
  height: 100%;
}

body {
  background: whitesmoke;
  overflow: hidden; 
  margin: 0;
  font-family: sans-serif;
  color: white;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#rankingButton {
  float: right;
  margin-right: 10px;
  height: 40px;
}

#logo {
  color: gray;
  margin-left: 10px;
}



#rangeSlider {
  width: 80%;
}

#rangeSliderContainer {
  position: absolute;
  z-index: 2;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  #rangeSliderContainer {
    bottom: 24px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-container {
  background: white;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 30%;
  height: 12px;
  background: ;
  border-radius: 10px;
  border: 1px #777 solid;
}

/* タッチの場合は2倍 */
.touch input[type="range"]::-webkit-slider-runnable-track {
  height: 32px;
  border-radius: 32px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 30%;
  border-radius: 10px;
  border: 1px #000 solid;
  background: #777;
}

/* タッチの場合は3倍 */
.touch input[type="range"]::-webkit-slider-thumb {
  height: 30px;
  border-radius: 30px;
}

input[type="range"]:focus {
  outline: rgba(255, 255, 255, 0.2) solid 2px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #222;
}

canvas {
  background: white;
}
