/*************************************************************
***Designer             : 今中翔悟
***Date                 : 2023/6/13
***Purpose              : ランキング表示UI処理
**************************************************************/
/********ランキングテーブル装飾部*********/
.RankingContainer {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 80vw;
  height: 50vh;
  background-color: rgba(240, 248, 255, 0.75);
  overflow-y: scroll;
  z-index: 1;
}
.RankingTable {
  width: 100%;
  border-collapse: separate;
  z-index: 1;
}
#HeadLine th{
  position: sticky;
  top: 0;
  background-color: antiquewhite;
  z-index: 1;
  &:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: solid 1px #333;
  }
}
.RankingTable th,
.RankingTable td{
  padding: 8px;
  
}

#table-body td{
  border: 1px solid #333;
}
#rank {
  width:100px; 
}
/***************************************/

/***************タイトル****************/
.Title {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-align: center;
  text-shadow: -2px -2px 0 #fff,
                2px -2px 0 #fff,
               -2px  2px 0 #fff,
                2px 2px 0 #fff;
  font-size: 50pt;
  font-family: 'Algerian', 'Arial Narrow', Arial, sans-serif;
  color: #191970;
}
/***************************************/

/**********ドロップダウンメニュー*********/
.DropDown {
  display: flex;
  justify-content: center;
}
.DropDown select {
  width: 300px;
  height: 35px;
  font-size: 20px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: none;
  color: black;
}
/***************************************/
/*************本体装飾部*****************/
canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
body {
  background: linear-gradient(270deg, #4169e1, #008b8b);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/***************************************/